<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireDataWebService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="Style/main.css" />
</head>

<body>
    <div id="preloader" style="display: block">
        <div id="loader"></div>
    </div>
    <div class="header">
        <h5>FireDataWebService</h5>
        <div class="powered-by">
            powered by Fedmog1lnkv
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div id="map"></div>
            </div>
            <div class="col-md-3">
                <div class="date-picker-container mb-3 d-flex">
                    <input type="text" id="datepicker" placeholder="Выберите дату" class="form-control flex-grow-1">
                    <button id="shareButton" class="btn btn-primary ml-2" style="height: 38px; line-height: 18px;"><i class="material-icons" style="font-size: 24px;">share</i></button>
                </div>
                <div class="table-container">
                    <h5>Информация</h5>
                    <table class="table table-bordered table-striped h-100">
                        <tbody>
                            <tr>
                                <td>Количество пожаров:</td>
                                <td id="fireCount">0</td>
                            </tr>
                            <tr>
                                <td>Площадь пожаров:</td>
                                <td id="fireArea">0</td>
                            </tr>
                            <tr>
                                <td>Средняя температура:</td>
                                <td id="avgTemperature">0</td>
                            </tr>
                            <tr>
                                <td>Среднее количество осадков:</td>
                                <td id="precipitationCount">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pieChartContainer">
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/georaster@1.6.0/dist/georaster.browser.bundle.min.js"></script>
    <script src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js"></script>
    <script>
        var map = L.map('map').setView([57.22, 106], 5);

        var weatherLayerGroup = L.layerGroup();
        var fireLayerGroup = L.layerGroup();

        var overlayMaps = {
            "Weather": weatherLayerGroup,
            "Fires": fireLayerGroup
        };

        var layerControl = L.control.layers(null, overlayMaps).addTo(map);
        
        var emptyBaseLayer = L.tileLayer('');
        emptyBaseLayer.addTo(map);
        layerControl.addBaseLayer(emptyBaseLayer, "No Data");
        
        var baseLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function fetchData(selectedDate) {
            weatherLayerGroup.clearLayers();
            fireLayerGroup.clearLayers();

            var dates = selectedDate.split(' to ');
            if (dates.length === 2) {
                var startDate = dates[0];
                var endDate = dates[1];

                fetchWeatherData(startDate, endDate);
                fetchFireData(startDate, endDate);
            } else {
                fetchWeatherData(selectedDate);
                fetchFireData(selectedDate);
            }
        }

        function renderPieChart(data) {
            var pieChartContainer = document.getElementById('pieChartContainer');

            pieChartContainer.innerHTML = '';

            var canvas = document.createElement('canvas');
            pieChartContainer.appendChild(canvas);

            canvas.width = pieChartContainer.clientWidth;
            canvas.height = pieChartContainer.clientHeight;

            var ctx = canvas.getContext('2d');

            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: data.map(item => item.label),
                    datasets: [{
                        data: data.map(item => item.value)
                    }]
                },
                options: {
                    responsive: false,
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            renderEmptyPieChart();
        });
        
        window.addEventListener('load', function() {
            document.getElementById("preloader").style.display = "none";
        });

        function renderEmptyPieChart() {
            var emptyData = [{
                label: 'Выберите дату',
                value: 1
            }];
            renderPieChart(emptyData);
        }
        
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
    <script src="Scripts/load-fires-and-weather.js"></script>
    <script src="Scripts/load-geojson.js"></script>
    <script src="Scripts/load-tif.js"></script>
    <script src="Scripts/parse-url.js"></script>
    <script>
        parseUrl();
    
        document.getElementById("shareButton").addEventListener("click", function() {
            var selectedDate = document.getElementById("datepicker").value;
            var url = window.location.href.split('?')[0] + `?date=${selectedDate}`;
            var activeLayers = Object.keys(overlayMaps).filter(layer => map.hasLayer(overlayMaps[layer]));
        
            if (activeLayers.length > 0) {
                url += `&layers=${activeLayers.join(',')}`;
            }
            
            var activeBaseLayer = Object.keys(registeredGeoRasterLayers).find(layer => map.hasLayer(registeredGeoRasterLayers[layer]));
            if (activeBaseLayer) {
                url += `&base=${activeBaseLayer}`;
            }
        
            navigator.clipboard.writeText(url).then(function() {
                alert("Ссылка скопирована в буфер обмена!");
            }, function(err) {
                console.error('Ошибка копирования текста в буфер обмена: ', err);
            });
        });
    </script>
</body>
</html>