#map {
    height: 100%;
    width: 100%;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Чтобы содержимое выравнивалось по вертикали */
}
.powered-by {
    font-size: 12px;
    color: white;
}
.container-fluid {
    margin-top: 20px;
    height: calc(100vh - 100px); /* 50px - высота заголовка + отступ */
    display: flex;
    flex-direction: column;
}
.row {
    flex: 1; /* Этот ряд должен занимать все доступное пространство */
}
@media (max-width: 767px) {
    #map {
        height: 70vh; /* Измените на необходимую высоту */
    }
    .col-md-3{
        margin-top: 20px;
    }
}